#main {
  width: 100%;
  height: calc(100% - 32px);
  display: flex;
  flex-direction: row;
  background-color: #1f1f1f;
}

#main > div {
  flex: 1;
  height: calc(100% - 4rem);
}

/* ====================== */
/* SCRIPT TEXTAREA STYLES */
/* ====================== */

.script-container {
  padding: 1rem 1rem 2rem 2rem;
}

.script-textarea {
  width: calc(100% - 2rem);
  min-height: calc(100% - 1rem - 66px);
  max-height: calc(100% - 1rem - 66px);
}

/* ===================== */
/* SCRIPT BUTTONS STYLES */
/* ===================== */

#script-upload {
  display: none;
}

.script-button-container {
  display: flex;
}

.script-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  margin-left: 1rem;
  font-weight: 300;
}

.script-button-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  background-color: #252525;
  outline: none;
  margin-bottom: 1rem;
}

.script-button-icon > i {
  font-size: 1.5rem;
  background-image: linear-gradient(to bottom right, #b653aa, #3a62ea);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.script-button-icon:hover {
  cursor: pointer;
  background-color: #222222;
}

.script-button-icon:hover > i {
  background-image: linear-gradient(to bottom right, #9b4290, #2e52c7);
}

.script-input {
  flex: 1;
}

.script-input-field {
  width: calc(100% - 2rem);
}

/* =================== */
/* CONFIG THEME STYLES */
/* =================== */

.config-container {
  padding: 2rem 2rem 2rem 1rem;
  display: flex;
  flex-direction: column;
}

.config-theme-selection {
  flex: 1;
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 0;
  background: none;
}

.config-theme-option {
  background: url('../../assets/images/pink-bg.jpeg') no-repeat center;
  min-width: 100%;
  outline: none;
  flex: 1;
  border-radius: 1rem;
  border: 3px solid transparent;
  position: relative;
  align-items: center;
  justify-content: center;
}

.config-theme-option:hover {
  cursor: pointer;
}

.config-theme-option:not(:last-child) {
  margin-bottom: 1rem;
}

.config-theme-option.is-selected {
  border: 3px solid #a03293;
}

.config-theme-option .first-line {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.2rem 0.4rem;
  z-index: 2;
  border-radius: 0.5rem;
}

.config-theme-option .first-line.is-light {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.config-theme-option .first-line.is-dark {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

.config-theme-option .second-line {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.2rem 0.4rem;
  opacity: 0.3;
  border-radius: 0.3rem;
}

.config-theme-option .second-line.is-light {
  color: white;
  background-color: rgba(0, 0, 0, 1);
}

.config-theme-option .second-line.is-dark {
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
}

/* ================== */
/* CONFIG FONT STYLES */
/* ================== */

.config-font-selection {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}

.config-font-slider {
  width: 100%;
}

/* ======================= */
/* CONFIG SCROLLING STYLES */
/* ======================= */

.config-speed-slider-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  height: 67px;
}

.scrolling-settings {
  margin-top: 1.5rem;
}

.scrolling-settings-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
}

.scrolling-settings-description {
  color: #7c7c7c;
  font-weight: 300;
  margin-bottom: 2rem;
}

.scrolling-settings-switch span.MuiSwitch-track {
  background-color: #9b4290;
}

.config-speed-slider {
  width: 100%;
}

/* ====================== */
/* CONFIG STARTING STYLES */
/* ====================== */

.config-starting-textarea {
  width: calc(100% - 2rem);
  min-height: calc(100% - 1rem - 66px);
  max-height: calc(100% - 1rem - 66px);
}

.config-label {
  font-size: 1rem;
  margin: 1.2rem 0;
  font-weight: normal;
}

.config-start-button {
  font-size: 1.1rem;
  font-weight: bold;
  height: 2.5rem;
  margin-top: 1.5rem;
  border: 0;
  border-radius: 1.25rem;
  background-image: linear-gradient(to right, #b653aa, #3a62ea);
  color: white;
  outline: none;
}

.config-start-button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #9b4290, #2e52c7);
}

/* ============= */
/* MEDIA QUERIES */
/* ============= */

@media all and (max-width: 700px) {
  #main {
    flex-direction: column;
    height: auto;
  }

  .script-container {
    padding-right: 2rem;
  }

  .script-textarea {
    min-height: 10rem;
    max-height: 10rem;
  }

  .config-container {
    padding-top: 0;
    padding-left: 2rem;
  }
}
